$iconSize: 18px;

.operator-icon {
  width: $iconSize;
  height: $iconSize;
  line-height: $iconSize;
  font-size: $iconSize;
  top: 50%;
  transform: translateY(-50%);
}

.current-input {
  padding-left: $iconSize;
}

.backspace-icon {
  font-size: $iconSize;
  width: $iconSize;
  height: $iconSize;
  line-height: $iconSize;
}
