:host {
  grid-template-rows: auto 1fr;
}

.table-header-wrapper,
.row {
  &.selectable {
    grid-template-columns: 40px;
    grid-template-areas: "checkbox";
    > .checkbox {
      grid-area: checkbox;
    }
  }
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  height: 40px;
  span {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 0.5rem;
  }
}
