.scrollbar-gutter-stable {
  scrollbar-gutter: stable;
}

.table-header-wrapper,
.row {
  &.selectable {
    grid-template-columns: 40px;
    grid-template-areas: "checkbox";
    > .checkbox {
      grid-area: checkbox;
    }
  }
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  height: 40px;
  span {
    display: inline-flex;
    align-items: center;
    padding: 0 0.5rem;
  }
}

.only-one-column {
  .table-header-wrapper,
  .row {
    justify-items: center;
  }
}
