<div class="control-container p-4 flex">
  <button mat-stroked-button color="primary" (click)="confirmAdd()">
    <div class="flex items-center gap-1">
      新增表格 <mat-icon>playlist_add</mat-icon>
    </div>
  </button>

  <div class="flex items-center gap-1 ml-auto">
    依據:
    <mat-button-toggle-group
      name="listSorting"
      aria-label="List Sorting"
      [value]="sortingType$ | async"
      (change)="sortingType$.next($event.value)"
    >
      <mat-button-toggle value="updateTime" matTooltip="更新時間">
        <mat-icon>schedule</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="title" matTooltip="標題">
        <mat-icon>title</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    排序:
    <mat-button-toggle-group
      name="listSorting"
      aria-label="List Sorting"
      [value]="sorting$ | async"
      (change)="sorting$.next($event.value)"
    >
      <mat-button-toggle
        value="asc"
        [matTooltip]="(sortingAscTooltip$ | async)!"
      >
        <mat-icon>expand_more</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        value="desc"
        [matTooltip]="(sortingDescTooltip$ | async)!"
      >
        <mat-icon>expand_less</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<div class="h-px bg-gray-400"></div>

<section
  class="list-container grid grid-cols-[repeat(auto-fill,_minmax(200px,_1fr))] p-4 gap-2 overflow-auto"
>
  <div
    *ngFor="let classify of displayClassifies$ | async"
    class="grid grid-rows-[auto_auto_1fr] rounded bg-[#ddd] p-2 gap-1 relative"
  >
    <div class="flex items-center overflow-hidden">
      <mat-icon class="small-icon opacity-50 mr-1 shrink-0">title</mat-icon>
      <span class="overflow-hidden text-ellipsis whitespace-nowrap">
        {{ classify.title }}
      </span>
    </div>
    <div class="flex items-center">
      <mat-icon class="small-icon opacity-50 mr-1">schedule</mat-icon
      >{{ classify.updateTime | date: "medium" }}
    </div>
    <a
      [title]="classify.title"
      [routerLink]="[classify.id]"
      class="absolute inset-0 transition-opacity opacity-0 bg-[#555] focus:opacity-[.08] hover:opacity-[.12] active:opacity-[.18]"
    ></a>
    <div class="mt-auto ml-auto">
      <button
        mat-icon-button
        matTooltip="刪除此表單"
        color="warn"
        (click)="confirmDelete(classify)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</section>
