<button
  #classifyButton
  mat-button
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  (click)="isOpen = true"
>
  {{ activeClassify?.label }}
</button>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  (overlayOutsideClick)="overlayOutsideClick($event, classifyButton)"
  (detach)="overlayDetach()"
>
  <div
    class="p-2.5 bg-white rounded border border-[#ccc] grid gap-2 w-[300px] overflow-auto max-h-[80vh]"
    cdkTrapFocus
    cdkTrapFocusAutoCapture
  >
    <div class="flex justify-between items-center">
      <span>分類:</span>
      <button mat-stroked-button cdkFocusInitial (click)="addClassify.next()">
        新增分類
      </button>
    </div>
    <div class="relative">
      <input
        type="text"
        name="search"
        class="search-input border border-black w-full"
        placeholder="過濾"
        (input)="updateFilterCondition($event)"
      />
      <button
        type="button"
        class="h-full flex items-center absolute top-0 right-0 cursor-pointer border-0 border-l border-l-black bg-transparent p-0 outline-0"
        (click)="toggleFilter()"
      >
        <mat-icon class="search-icon">{{ filterIcon$ | async }}</mat-icon>
      </button>
    </div>
    <div class="grid gap-2">
      <div *ngIf="activeClassify" class="flex overflow-hidden">
        <ng-container
          *ngIf="activeClassify | classifyEditState | async; else labelMode"
        >
          <input
            #labelInput
            type="text"
            [value]="activeClassify.label"
            class="p-1 w-full"
          />
          <button
            mat-icon-button
            (click)="updateClassifyLabel(activeClassify, labelInput.value)"
          >
            <mat-icon>done</mat-icon>
          </button>
        </ng-container>
        <ng-template #labelMode>
          <button mat-button color="primary" class="classify-label-button">
            {{ activeClassify.label }}
          </button>
          <button mat-icon-button (click)="changeToEditState(activeClassify)">
            <mat-icon>edit</mat-icon>
          </button>
        </ng-template>
      </div>
      <ng-container *ngIf="candidateClassifies$ | async as candidateClassifies">
        <div
          *ngIf="candidateClassifies.length"
          class="w-[40%] h-[4px] bg-[#333] rounded justify-self-center"
        ></div>
        <div
          *ngFor="let classify of candidateClassifies"
          class="flex overflow-hidden"
        >
          <ng-container
            *ngIf="classify | classifyEditState | async; else labelMode"
          >
            <input
              #labelInput
              type="text"
              [value]="classify.label"
              class="p-1 w-full"
              (keydown.enter)="updateClassifyLabel(classify, labelInput.value)"
            />
            <button
              mat-icon-button
              (click)="updateClassifyLabel(classify, labelInput.value)"
            >
              <mat-icon>done</mat-icon>
            </button>
          </ng-container>
          <ng-template #labelMode>
            <button
              mat-button
              class="classify-label-button"
              (click)="changeActiveClassify.emit(classify); isOpen = false"
            >
              {{ classify.label }}
            </button>
            <button mat-icon-button (click)="changeToEditState(classify)">
              <mat-icon>edit</mat-icon>
            </button>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>
