$searchSize: 22px;

.search-input {
  padding-right: $searchSize;
}

.search-icon {
  width: $searchSize;
  height: $searchSize;
  line-height: $searchSize;
  font-size: $searchSize;
}

.classify-label-button {
  width: 100%;
  text-align: start;
}
