<h1 mat-dialog-title>你確定要將此表格刪除嗎?</h1>
<div mat-dialog-content>
  <div class="grid gap-2">
    <p class="flex items-center">
      <mat-icon class="small-icon opacity-50 mr-1">title</mat-icon
      >{{ data.title }}
    </p>
    <p class="flex items-center">
      <mat-icon class="small-icon opacity-50 mr-1">schedule</mat-icon
      >{{ data.updateTime | date: "medium" }}
    </p>
  </div>
</div>
<div mat-dialog-actions class="justify-end">
  <button
    mat-button
    [mat-dialog-close]="{ item: data, action: 'cancel' }"
    cdkFocusInitial
  >
    取消
  </button>
  <button
    mat-button
    color="warn"
    [mat-dialog-close]="{ item: data, action: 'delete' }"
  >
    確認
  </button>
</div>
