.mi-end-auto {
  margin-inline-end: auto;
}

.loading-indicator {
  background-color: #d2d2d2;
  height: 4px;

  &::before {
    content: "";
    display: block;
    width: 50%;
    height: 4px;
    background-color: #222;
    animation: progress-move 2s linear forwards infinite;
    border-radius: 2px/50%;
  }
}

@keyframes progress-move {
  0% {
    transform: translateX(-70%) scaleX(0.3);
  }
  50% {
    transform: translateX(50%) scaleX(1);
  }
  100% {
    transform: translate(170%) scaleX(0.3);
  }
}

.nav-wrapper {
  transform: translate(0, -100%) scale(0.4);

  .opened & {
    transform: translate(-10%, -110%) scale(1);
  }
}

.tool-wrapper {
  transform: translate(-100%, 0) scale(0.4);

  .opened & {
    transform: translate(-110%, -10%) scale(1);
  }
}
