:host {
  grid-template-rows: auto auto 1fr;
}

.total-section {
  font-size: 1.75rem;
  padding: 1rem;
}

.action-container {
  padding: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.adder {
  justify-self: center;
}

.tuner {
  justify-self: end;
}
