<div class="total-section flex justify-center items-center p-4 text-3xl">
  {{ total$ | async }}
</div>
<div class="action-container grid grid-cols-3 p-4 items-center">
  <app-classify
    [activeClassify]="activeClassify$ | async"
    [classifies]="classifies$ | async"
    (addClassify)="addClassify()"
    (updateClassify)="updateClassify($event)"
    (changeActiveClassify)="changeActiveClassify($event)"
  ></app-classify>
  <app-adder class="justify-self-center" (add)="addRecord($event)"></app-adder>
  <div class="justify-self-end flex gap-2">
    <button
      *ngIf="selectable"
      mat-icon-button
      (click)="deleteSelectedRecords()"
    >
      <mat-icon>delete_forever</mat-icon>
    </button>
    <app-tuner
      class="tuner"
      [(columns)]="columns"
      [(selectable)]="selectable"
    ></app-tuner>
  </div>
</div>
<app-table
  [columns]="columns"
  [records]="records$ | async"
  [selectable]="selectable"
  [selectedItems]="selectedItems$ | async"
  (selectItems)="selectedItems$.next($event)"
></app-table>
