.overlay-container {
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 10px;
}

.box {
  font-size: 14px;
  padding: 0.25rem 0;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box-container.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.swap-icon {
  margin-left: 0.5rem;
  cursor: grab;
}
